<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home - Spec Viewer</title>
    </head>
    <body>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #2a2727;
                color: #fff;
            }
        </style>
        <header>
            <h1 style="color: #af4b4b;"><a href="/">Spec Viewer</a></h1>
        </header>
        <main>
            {{ template "content" . }}
        </main>
    </body>
</html>
